@media(max-width:768px){
    .temp__screen{
        display: none;
    }

}
@media(min-width: 769px){
    .kokoa {
        display: none;
    }
}

.temp__screen{
    width: 100%;
    height: 100%;
    background-color: rgba(250, 225, 00, 1);
    color: black;
    text-align: center;
    vertical-align: middle;
}

.kokoa{
}

.people{
    width: 100%;
    height: 100px;
    position: relative;
}
.people__wrapper{
    width: 100%;
    height: 100%;
    padding: 5px 3px;
    display: inline-flex;
}
.people__thumbnail{
    width: 80px;
    height: 80px;
    border-radius: 30%;
    overflow: hidden;
    /* margin: 15px 10px; */
    margin: 10px;
}
.people__thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.people__info{
    width: 500px;
}
.people__music{
    /* float: right; */
    width: 200px;
}

.headerNav_icon{
    width: 100%;
    height: 50px;
    position: relative;
}
.headerNav_wrapper{
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    /* justify-content: center; */
}

.headerNav_button ul li{
    width: 24px;
    height: 24px;
    float: left;
    list-style: none;
}